<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/">
	<channel>
		<title>Comments for Ey Si Dyi Trading and Mfg.Co</title>
		<atom:link href="http://eysidyitrading.com/comments/feed/" rel="self" type="application/rss+xml" />
		<link>http://eysidyitrading.com</link>
		<description>Ey Si Dyi Trading and Mfg.Co</description>
		<lastBuildDate>Fri, 18 Jun 2010 20:51:35 +0000</lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
		<generator>https://wordpress.org/?v=4.8.1</generator>
		<item>
			<title>Comment on Hello world! by Mr WordPress</title>
			<link>http://eysidyitrading.com/uncategorized/hello-world/#comment-1</link>
			<dc:creator>
				<![CDATA[Mr WordPress]]>
			</dc:creator>
			<pubDate>Fri, 18 Jun 2010 20:51:35 +0000</pubDate>
			<guid isPermaLink="false">http://eysidyitrading.com/?p=1#comment-1</guid>
			<description>
				<![CDATA[Hi, this is a comment.&lt;br /&gt;To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.]]>
			</description>
			<content:encoded>
				<![CDATA[<p>Hi, this is a comment.<br />To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.</p>
]]>
			</content:encoded>
		</item>
	</channel>
</rss>