<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/">

	<channel>
		<title>Ey Si Dyi Trading and Mfg.Co</title>
		<atom:link href="http://eysidyitrading.com/feed/" rel="self" type="application/rss+xml" />
		<link>http://eysidyitrading.com</link>
		<description>Ey Si Dyi Trading and Mfg.Co</description>
		<lastBuildDate>Wed, 05 Jul 2017 14:43:24 +0000</lastBuildDate>
		<language>en</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
		<generator>https://wordpress.org/?v=4.8.1</generator>
		<item>
			<title>Hello world!</title>
			<link>http://eysidyitrading.com/uncategorized/hello-world/</link>
			<comments>http://eysidyitrading.com/uncategorized/hello-world/#comments</comments>
			<pubDate>Wed, 05 Jul 2017 14:43:24 +0000</pubDate>
			<dc:creator>
				<![CDATA[admin]]>
			</dc:creator>
			<category>
				<![CDATA[Uncategorized]]>
			</category>

			<guid isPermaLink="false">http://eysidyitrading.com/?p=1</guid>
			<description>
				<![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!]]>
			</description>
			<content:encoded>
				<![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
]]>
			</content:encoded>
			<wfw:commentRss>http://eysidyitrading.com/uncategorized/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>